.article {
	max-width: 80rem;
    margin: 0 auto;
    color: white;
	background-color: #f8fafc;
    padding: 0.5rem 1rem;
}
.article__title {
    color: black;
	letter-spacing: 1px;
	font-size: 3rem;
	font-weight: 400;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.article__content {
    margin-top: 3rem;
	padding: 0 3rem;
	font-size: 1.8rem;
	line-height: 2;
	color: grey;
}
.article__header {
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}