.button {
    background: $blue;
    border: none; // making box looks better
    color: white;
    display: inline-block; // for add expense button/link - make sure that the vertical margin and padding actually get taken into effect, It's because inline elements don't respect top or bottom margin/padding so we need to change it to inline-block so we can apply those styles.
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

.button--link {
    background: none;       // set bg color to none so the logout button looks more like a link
}
.button--secondary {
    background: #888888;
}

.read-more {
    font-size: $font-size-small;
    color: #606f7b;
    display: block;
    margin: 0.5rem 0rem;
    padding: .5rem 1rem;
    background-color: darken(#f8fafc, 5%);
    border-radius: 45%;
    width: 11rem;
    text-decoration: none;
    &:hover {
        color: #3d4852;
    }
}
.button--edit {
    background-color: darken(#f8fafc, 5%);
    display: block;
    font-size: $m-size;
    color: #606f7b;
    text-align: center;
    width: 10rem;
    height: 7rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 2rem 0.5rem 1rem 0.5rem;
    text-decoration: none;
    &:hover {
        color: #3d4852;
    }
}
